.btn-dashboard {
     background-color: #387C44;
}
.erp-menus {
    background-color: #387C44;
}

.user-name-drop .dropdown-toggle{
    background-color: #387c44;
    background: linear-gradient(to right, #387c44 0%, #35693e 100%);	
}
.account-information .title {
    background-color: #387c44;
    background: linear-gradient(to right, #387c44 0%, #35693e 100%);
}
.mega-dropdown-menu .dropdown-header{
    background-color: #356b3f;
    white-space: pre-wrap;
}

.all-company .col-sm-12 ul li{
	 background-color: #387C44;
}